---
export const prerender = false;

import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";

// Page courante
const url = new URL(Astro.request.url);
const currentPage = Number(url.searchParams.get("page")) || 1;

// Appel API
const baseUrl = import.meta.env.PROD
  ? "https://richalguemei.fr"
  : "http://localhost:4000";
const res = await fetch(
  `https://richalguemei.fr/api/posts?page=${currentPage}`,
);

if (!res.ok) {
  throw new Error("Impossible de récupérer les articles");
}

const { posts, totalPages } = await res.json();

const description = `Retrouvez ici mes billets de blog. 
Que ce soit des petits poèmes, mes analyses parfois bancales, ou des articles plus développés, 
ne manquez pas votre chance de trouver la perle rare à travers mes écrits !`;
---

<Layout
  title="Mon Blog"
  description={description}
  url="/blog"
  index="index, follow"
>
  <div class="min-h-screen flex flex-col">
    <div class="h-20"><Navbar /></div>

    <main class="flex-1 flex flex-col items-center justify-center">
      {
        posts.length === 0 && (
          <p class="text-text text-xl mt-8">Aucun article pour le moment.</p>
        )
      }

      {
        posts.map((post: any) => (
          <div class="my-4">
            <a
              class="relative font-bold group px-2 text-text text-xl lg:text-3xl"
              href={`/blog/${post.slug}`}
            >
              - {post.title}
              <span class="absolute left-0 -bottom-1 h-1 w-0 bg-pink transition-all duration-300 group-hover:w-full" />
            </a>
          </div>
        ))
      }

      <div class="mt-8 flex gap-6 font-bold px-2 text-text text-xl lg:text-3xl">
        {
          currentPage > 1 && (
            <a href={`/blog?page=${currentPage - 1}`}>&larr; Précédent</a>
          )
        }

        <span>
          Page {currentPage} sur {totalPages}
        </span>

        {
          currentPage < totalPages && (
            <a href={`/blog?page=${currentPage + 1}`}>Suivant &rarr;</a>
          )
        }
      </div>
    </main>

    <div class="h-20"><Footer /></div>
  </div>
</Layout>
