---
export const prerender = false; // désactive la génération statique

import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";

const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true })
) as any[];

// Tri décroissant
const sortedPosts = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).getTime() -
    new Date(a.frontmatter.pubDate).getTime()
);

// Récupération du paramètre de page (ex: ?page=2)
const url = new URL(Astro.request.url);
const currentPage = Number(url.searchParams.get("page")) || 1;
const postsPerPage = 5;

// Calcul des indices
const start = (currentPage - 1) * postsPerPage;
const end = start + postsPerPage;
const paginatedPosts = sortedPosts.slice(start, end);

const totalPages = Math.ceil(sortedPosts.length / postsPerPage);

const description = `Retrouvez ici mes billets de blog. 
Que ce soit des petits poèmes, mes analyses parfois bancales, ou des articles plus développés, 
ne manquez pas votre chance de trouver la perle rare à travers mes écrits !`;
---

<Layout
  title="Mon Blog"
  description={description}
  url="/blog"
  index="index, follow"
>
  <div class="min-h-screen flex flex-col">
    <div class="h-20"><Navbar /></div>
    <main class="flex-1 flex flex-col items-center justify-center">
      {
        paginatedPosts.map((post) => (
          <div class="my-4">
            <a
              class="relative font-bold group px-2 text-text text-xl lg:text-3xl"
              href={post.url}
            >
              - {post.frontmatter.title}
              <span class="absolute left-0 -bottom-1 h-1 w-0 bg-pink transition-all duration-300 group-hover:w-full" />
            </a>
          </div>
        ))
      }

      <div
        class="mt-8 flex gap-4 font-bold group px-2 text-text text-xl lg:text-3xl"
      >
        {
          currentPage > 1 && (
            <a class="" href={`/blog?page=${currentPage - 1}`}>
              &larr; Précédent
            </a>
          )
        }

        <span>Page {currentPage} sur {totalPages}</span>

        {
          currentPage < totalPages && (
            <a href={`/blog?page=${currentPage + 1}`}>Suivant &rarr;</a>
          )
        }
      </div>
    </main>
    <div class="h-20"><Footer /></div>
  </div>
</Layout>
