---
import "../styles/global.css";

const { title, description, url, index } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <!-- Matomo -->
    <script>
      (function () {
        // Déclare _paq sur window
        (window as any)._paq = (window as any)._paq || [];
        const _paq = (window as any)._paq;

        _paq.push(["trackPageView"]);
        _paq.push(["enableLinkTracking"]);

        const u = "//richalguemei.fr:8080/";
        _paq.push(["setTrackerUrl", u + "matomo.php"]);
        _paq.push(["setSiteId", "1"]);

        const d = document;
        const g = d.createElement("script");
        g.async = true;
        g.src = u + "matomo.js";

        const s = d.getElementsByTagName("script")[0];
        if (s?.parentNode) {
          s.parentNode.insertBefore(g, s);
        }
      })();
    </script>
    <!-- End Matomo Code -->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/avatar-bg.svg" />
    <meta name="generator" content="Astro" />
    <title>{`${import.meta.env.WEBSITE} | ${title}`}</title>
    <link rel="me" href="https://mastodon.social/@richalguemei" />
    <meta name="description" content={description} />
    <meta name="googlebot-news" content={index} />
    <link rel="canonical" href={`https://${import.meta.env.URL}${url}`} />
    <meta
      property="og:title"
      content={`${import.meta.env.WEBSITE} | ${title}`}
    />
    <meta property="og:type" content="" />
    <meta property="og:url" content={`https://${import.meta.env.URL}${url}`} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={`/banniere.png`} />
    <meta name="keywords" content="web, portfolio, auteur, meditation" />
    <meta name="author" content="Richalgue Mëi" />
  </head>
  <body class="min-h-screen flex flex-col">
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
  }

  body {
    background: radial-gradient(
      125% 125% at 50% 90%,
      #6f00ff 10%,
      #3b0270 100%
    );
    background-attachment: fixed; /* 👈 garde l'effet en place */
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
